/* .header {
  height: 45px;
  background-color: #202020;
  width: 100%;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
} */

.logo {
  display: inline;
}
.login {
  background-color: #585858;
  border: none;
  width: 150px;
  height: 27px;
  color: white;
  border-radius: 3px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#login, #logout {
  /*background-color: #585858;*/
}
#login > button {
  background-color: #585858;
  border: none;
  height: 100%;
  width:100%;
  color: white;
}
nav {
    display: inline;
    float: left;
    color: black;
}
nav div {
    display: inline;
    margin-right: 8px;
    font-weight: bold;
    padding-bottom: 5px;
}

nav div:hover {
    border-bottom: 3px solid #3300FF;
}

.show {
  display: block;
}
.hide {
  display: none;
}
.inline {
  display: inline;
}
.menuInnerShow{
  display: flex;
}
#menuInner {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#userMenu, #profile, #cartMenu {
  display: inline;
}

#cartMenu {
  display: flex;
  flexflow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 3px 13px 3px 13px;
  background-color: #00CD00;
  border: 2px solid #00CD00;
}
#userMenu {
  padding-left: 10px;
  padding-right: 10px;
}
.products {
  padding-top: 2px;
  padding-right: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  border: 1.5px solid grey;
  border-radius: 3px;
  height: 27px;
  margin-left: 15px;
}
.productsMenu {
  align-self: center;
}
.menuBtn {
  display: flex;
  flexflow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 3px 13px 3px 13px;
  background-color: #00CD00;
  border: 1.5px solid grey;
  height: 27px;
  border-radius: 3px;
  border: 2px solid #00CD00;
}
.menuBtn:hover {
  background-color: #505050;
  border: 2px solid #505050;
}
.chosenMenuItem {
  background-color: #505050;
  border: 2px solid #505050;
}
.products:hover {
  background-color: #505050;
}
.profile {
  margin: 20px;
  text-align: left;
}
.profile .divider{
  height: 1px;

  margin-left: 165px;
  background-color: black;
}

.profile img{
  border:5px solid #DB0278;
  /* shape-outside: circle(); */
  margin-right: 15px;
  float: left;
}
.menuLeftWrap {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
