.header {
  height: 45px;
  background-color: #202020;
  width: 100%;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
}

.logo {
  display: inline;
}
.login {
  background-color: #585858;
  border: none;
  width: 150px;
  height: 27px;
  color: white;
  border-radius: 3px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#login, #logout {
  background-color: #585858;
}
#login > button {
  background-color: #585858;
  border: none;
  height: 100%;
  width:100%;
  color: white;
}
nav {
    display: inline;
    float: left;
    color: black;
}
nav div {
    display: inline;
    margin-right: 8px;
    font-weight: bold;
    padding-bottom: 5px;
}

nav div:hover {
    border-bottom: 3px solid #3300FF;
}

.invincible {
    display: none;
}

.chosen {

}
